
<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="">
                <img class="img-rounded profile-thumbnail" src="">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ comment['published'] }}</div>
            <div class="comment-author"><a href="">{{ comment['author']['displayname'] }}</a></div>
            <div class="comment-body">
                    {% if comment['contentType'] == "text/x-markdown" %}
                        {{ comment['content'] | markdown}}
                    {% else %}
                        {{ comment['content'] }}
                    {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
