
<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="">
                <img class="img-rounded profile-thumbnail" src="">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ comment['published'] }}</div>
            <div class="comment-author"><a href="{{'/users/' + post['author']['id'] }}">{{ comment['author']['displayname'] }}</a></div>
            <div class="comment-body">
                    {% if comment['contentType'] == "text/x-markdown" %}
                        {{ comment['comment'] | markdown}}
                    {% else %}
                        {{ comment['comment'] }}
                    {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
