<ul class="posts">
    {% for event in events %}
    <li class="post">
        <div class="post-thumbnail">
          <img style='height:40px; width:40px' src='{{event["ava_url"]}}'>
        </div>
        <div class="post-content">
            <div class="post-date">{{ event['created_at'] }}</div>
            <div class="post-author"><a href="#">{{ event['actor']}}</a></div>
            <div class="post-body">
                <a href="#">{{ event['repo'] }}</a></br>
                <p>{{event['type']}}</p>
            </div>
            <div class="post-body">{{ event['created_at']}}</div>
        </div>
    </li>
    {% endfor %}
</ul>
