{% extends "user/profile.html" %}

{% block child_content %}
<script type="text/javascript">
$("#tab-followers").attr('class', 'active');
</script>
<div class="page-header">
  <h1>Your Followers</h1>
</div>
{% if (followers) %}
<table class="table table-hover">
    <thead>
      <tr>
        <th>Follower</th>
        <th>Accept as friend</th>
      </tr>
    </thead>
    <tbody>
        {% for f in followers %}
        <tr>
            <td><a href={{ '/users/'+f[1] }}>{{ f[0] }}</a></td>
            <!-- <td>{{ f[1] }}</td> -->
            {% if (not current_user.is_friend(f[1])) %}
            <td><a href={{ "/befriend/"+f[1] }} class="btn btn-primary" role="button">Accept</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
