{% extends "base.html" %}
{% block page_content %}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<div class="jumbotron">
    <div class="page-header">
        <h2>{{ user_profile }}</h2>
    </div>
    <!-- <p>Current user: {{ current_user.username }}</p>
    <p>On profile: {{ user_profile }}, {{ user_id }}</p> -->
    <div id="profile-img">
        {% if (upi) %}
        <!-- Found profile image
        <br> -->
        <img src="data:;base64,{{ upi }}" style="max-width:10em;max-height:10em;border:0.1em solid white;border-radius:0.4em;">
        {% else %}
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="profile image" style="max-width:10em;max-height:10em;border:0.1em solid white;border-radius:0.4em;">
        <!-- Profile image -->
        {% endif %}
    </div>
    {% if (current_user.username != user_profile) %}
    {% if (not current_user.is_follower(user_id)) %}
    <div class="btn-group" role="group" style="padding-top: 2em">
        <!-- <button type="button" class="btn btn-default">Add friend</button> -->
        <!-- <button type="button" class="btn btn-default" style="padding-left: 1.8em;padding-right: 1.8em";>Follow</button> -->
        <a href={{ "/follow/"+user_id }} class="btn btn-default" role="button" id="follow_button">Follow</a>
    </div>
    {% else %}
        <a href={{ "/unfollow/"+user_id }} class="btn btn-default" role="button">Unfollow</a>
    {% endif %}
    {% endif %}
    <ul class="list-group" style="padding-top:1em">
        <li class="list-group-item">ID: {{ user_obj.id }}</li>
        <li class="list-group-item">Host: {{ user_obj.host }}</li>
    </ul>
</div>
<ul class="nav nav-tabs">
    {% if (current_user.username == user_profile) %}
    <li id="tab-posts" role="presentation"><a href={{ '/users/'+current_user.id+'/posts' }}>Posts</a></li>
    <li id="tab-friends" role="presentation"><a href={{ '/users/'+current_user.id+'/friends' }}>Friends</a></li>
    <li id="tab-followers" role="presentation"><a href={{ '/users/'+current_user.id+'/followers' }}>Followers</a></li>
    {% endif %}
</ul>

{% block child_content %}{% endblock %}

{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
