{% extends "base.html" %}
{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<div class="jumbotron">
    <p>Current user: {{ current_user.username }}</p>
    <p>On profile: {{ user_profile }}, {{ user_id }}</p>
    <div id="profile-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="profile image">
    </div>
    {% if (current_user.username != user_profile)
        and (not current_user.is_follower(user_id)) %}
    <div class="btn-group" role="group" style="padding-top: 2em">
        <!-- <button type="button" class="btn btn-default">Add friend</button> -->
        <button type="button" class="btn btn-default" style="padding-left: 1.8em;padding-right: 1.8em";>Follow</button>
    </div>
    {% endif %}
</div>
<ul class="nav nav-pills">
    <li role="presentation"><a href="#">Posts</a></li>
    {% if (current_user.username == user_profile) %}
    <li role="presentation"><a href={{ '/users/'+current_user.username+'/friends' }}>Friends</a></li>
    <li role="presentation"><a href={{ '/users/'+current_user.username+'/followers' }}>Followers</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
