{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}FBook{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
<div>
	<form action="/" method="POST" enctype="multipart/form-data">

		<div class="form-group">
			<label for="title" class="control-label">Title</label>
			<input type="text" class="form-control" name="title" id="title" value>
		</div>

		<div class="form-group">
			<label for="body" class="control-label">What is on your mind?</label>
			<input type="text" class="form-control" name="body" id="body">
		</div>

		<div class="form-group">
			<label for="mkdown" class="control-label">Use markdown for this post?</label>
			<select class="form-control" id="mkdown" name="mkdown">
				<option selected value="F">No</option>
				<option value="T">Yes</option>
			</select>
		</div>

		<div class="form-group">
			<label for="privacy" class="control-label">Public</label>
			<select class="form-control" id="privacy" name="privacy">
				<option selected value=0>Public</option>
				<option value=1>Only Me</option>
				<option value=2>Only Me and My friends</option>
        <option value=3>Someone (fill below target option)</option>
        <option value=4>Only this host</option>
        <option value=5>FOAF</option>
			</select>
		</div>

    <div class="form-group">
      <label for="target" class="control-label">Target</label>
      <input type="text" class="form-control" name="target" id="target" value>
    </div>

		<div class="form-group">
			<label for="image" class="control-label">Image</label>
	    	<input type="file" class="form-control" name="image" id="image">
	  </div>

    	<input class="btn btn-default" id="submit" name="submit" type="submit" value="Post">
	</form>
</div>
<h1>My Stream</h1>
 {% include 'post/_posts.html' %}
 {% include 'post/_github.html' %}
{% endblock %}
