{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
<br>
<div class="login text-center">
	<a href="#collapse1" data-toggle="collapse">
     	<h1>Login</h1>
    </a>
    <div id="collapse1" class="collapse text-center">
    	{{ wtf.quick_form(loginForm) }}
    </div>
</div>
<br>
<h4 class="text-center">Or</h4>
<br>
<div class="signup text-center">
	<a href="#collapse2" data-toggle="collapse">
     	<h1>Sign Up</h1>
    </a>
    <div id="collapse2" class="collapse text-center">
    	{{ wtf.quick_form(signupForm) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}